<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Demo_for_static_GUI/src/Function_Libary/Remote_WebDriver.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Function_Libary.Remote_WebDriver"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Demo_for_static_GUI"/>
</launchConfiguration>
